# Q 1:-

Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [59]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [60]:
b()
b()
b()
print(a)

6

Analysis :- As the Variable an is all around the world called inside the capacity b. This progressions the worth of "a" outside the capacity. Initally the worth of "a" is 0, when work b is called , worth of an is allocated by calling capacity c with an as the variable. In the capacity c , a+2 is returned as an is 0, it returns 2 for first when calling b work for second time it return 4 when calling b work for third time it brings 6 back. Because of worldwide statement eventhough printing the variable "a" outside of capacity , the worth of "a" will be 6.

# Q 2:-

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: >>> fileLength('midterm.py') 284 >>> fileLength('idterm.py') Traceback (most recent call last): File "<pyshell#34>", line 1, in <module> fileLength('idterm.py') File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename) FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead: >>> fileLength('midterm.py') 358 >>> fileLength('idterm.py') File idterm.py not found.

In [61]:
def filelength(File_name):
    try:
        file = open(File_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("File {} not found.".format(File_name))

In [62]:
filelength("Midterm.py")

63

In [63]:
filelength("idterm.py")

File idterm.py not found.

# Q 3:-

Write a class named Marsupial that can be used as shown below: >>> m = Marsupial() >>> m.put_in_pouch('doll') >>> m.put_in_pouch('firetruck') >>> m.put_in_pouch('kitten') >>> m.pouch_contents() ['doll', 'firetruck', 'kitten']Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0) >>> print(k) I am a Kangaroo located at coordinates (0,0) >>> k.put_in_pouch('doll') >>> k.put_in_pouch('firetruck') >>> k.put_in_pouch('kitten') >>> k.pouch_contents() ['doll', 'firetruck', 'kitten'] >>> k.jump(1,0) >>> k.jump(1,0) >>> k.jump(1,0) >>> print(k) I am a Kangaroo located at coordinates (3,0)

In [67]:
class Marsupial:  
    def __init__(must):
        must.words = []
    def put_in_pouch(must, words): 
        must.words.append(words) 
    def pouch_contents(must):  
        print(must.words)
m = Marsupial() 
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()
class Kangaroo(Marsupial):
    def __init__(must,x,y):
        Marsupial.__init__(must)
        must.x = x
        must.y = y
        
    def jump(must,x1,y1):  
        must.x = must.x + x1
        must.y = must.y + y1    
    def __str__(must): 
        return "I am a Kangaroo located at coordinates ({},{})".format(must.x, must.y)

['doll', 'firetruck', 'kitten']

In [68]:
k = Kangaroo(0,0) 
print(k)

I am a Kangaroo located at coordinates (0,0)

In [69]:
k.put_in_pouch('doll') 
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [70]:
k.jump(1,0) 
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Q 4:-

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = { 洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐3洧논+1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [74]:
def collatz(x):
    if(x==1):
        print(int(x))
    elif x%2==0:
        print(int(x))
        collatz(x/2)
    else: 
        print(int(x))
        collatz(3*x+1)

In [75]:
collatz(1)

1

In [76]:
collatz(10)

10
5
16
8
4
2
1

# Q 5:-

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n. >>> binary(0) 0 >>> binary(1) 1 >>> binary(3) 11 >>> binary(9) 1001

In [83]:
def binary(M):
    if M>=1:
        binary(M//2)
        print(M%2,end = '')
    else:
        return 0

In [84]:
binary(0)

0

In [85]:
binary(1)

1

In [86]:
binary(3)

11

In [87]:
binary(9)

1001

# Q 6:-

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should haveindentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [88]:
infile = open("w3c.html")
content = infile.read()
infile.close()
from html.parser import HTMLParser
class parser(HTMLParser):
    def handle_starttag(self, tag, attrs):
        self.recording = 0 
        self.data = []
        if len(tag)== 2 and tag[0] == 'h':
            self.recording = 1
    def handle_data(self, data):
        if self.recording:
            print(data)
            print("\t",end= "")
p = parser()
p.feed(content)

Hello World! - This is h1


	My name is Murari - This is h2


	This is h4

# Q 7:-

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL. >>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0) http://reed.cs.depaul.edu/lperkovic/csc242/test1.html http://reed.cs.depaul.edu/lperkovic/csc242/test2.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html http://reed.cs.depaul.edu/lperkovic/csc242/test3.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

# Q 8:-

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature (C) Rainfall (mm)
Mumbai
India
Winter
24.8
5.9
Mumbai
India
Spring
28.4
16.2
Mumbai
India
Summer
27.9
1549.4
Mumbai
India
Fall
27.6
346.0
London
United Kingdom
Winter
4.2
207.7
London
United Kingdom
Spring
8.3
169.6
London
United Kingdom
Summer
15.7
157.0
London
United Kingdom
Fall
10.4
218.5
Cairo
Egypt
Winter
13.6
16.5
Cairo
Egypt
Spring
20.7
6.5
Cairo
Egypt
Summer
27.7
0.1
Cairo
Egypt
Fall
22.2
4.5

In [ ]:
import sqlite3
con = sqlite3.connect('climate_db')
cur = con.cursor()
cur.execute("CREATE TABLE climate (City text, Country text, Season text, Temperature C dec, Rainfall mm dec)")
cur.execute("INSERT INTO climate VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO climate VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO climate VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO climate VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO climate VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO climate VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO climate VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO climate VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO climate VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO climate VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO climate VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO climate VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
con.commit()
con.close()

In [92]:
import sqlite3
con = sqlite3.connect('climate_db')
cur = con.cursor()

In [93]:
cur.execute('SELECT Temperature FROM climate')
for record in cur:
    print(record)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [94]:
cur.execute('SELECT DISTINCT City FROM climate')
for record in cur:
    print(record)

('Mumbai',)
('London',)
('Cairo',)

In [95]:
cur.execute('SELECT * FROM climate where Country="India"')
for record in cur:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)

In [96]:
cur.execute('SELECT * FROM climate where Season="Fall"')
for record in cur:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [97]:
cur.execute('SELECT City,Country,Season FROM climate where (rainfall>200) AND (rainfall<400)')
for record in cur:
    print(record)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [98]:
cur.execute('SELECT City,Country FROM climate where (Season ="Fall") AND (temperature>20) ORDER BY Temperature DESC')
for record in cur:
    print(record)

('Mumbai', 'India')
('Cairo', 'Egypt')

In [99]:
cur.execute('SELECT SUM(Rainfall) FROM climate where City="Cairo"')
Annual_rainfall_in_Cairo=cur.fetchall()
print(Annual_rainfall_in_Cairo)

[(27.6,)]

In [100]:
cur.execute('SELECT SUM(Rainfall),Season FROM climate GROUP BY Season')
for record in cur:
    print(record)

(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

# Q 9:-

Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [101]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

upper_case = [i.upper() for i in words]
print(upper_case)
lower_case = [i.lower() for i in words]
print(lower_case)
word_length = [len(i) for i in words]
print(word_length)
zipped = [i for i in zip(upper_case, lower_case, word_length)]
print(zipped)
len_greater_4 = [i for i in words if len(i) >= 4]
print(len_greater_4)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]
['quick', 'brown', 'jumps', 'over', 'lazy']